<!DOCTYPE html>
<html>
  <title>ZulliBot</title>
  <iframe style='height:50%; width:30%; position: absolute; bottom:3px; right:8px; background-color:white;' src='https://webchat.botframework.com/embed/deloitte_bot?s=OKQOYQdkMuQ.cwA.bGI.z5E2DYpCyUjjB8BYPgKlee5-IbLcFdF4VjvyDUYv9j4'>
  <style>
    .wc-header {
      background-color: #c6291e;
    }
  </style>
  </iframe>
  <img src='/img/home_page.png' alt='Home page Generali'>
</html>
