<html>
  <title>ZulliBot</title>
  <img src='/public/img/home_page.png' alt='Home page Generali' style='width:100%; height:100%;'>
  <iframe style='height:90%; width:40%; position: absolute; bottom:3px; right:3px;' src='https://webchat.botframework.com/embed/deloitte_bot?s=OKQOYQdkMuQ.cwA.bGI.z5E2DYpCyUjjB8BYPgKlee5-IbLcFdF4VjvyDUYv9j4'></iframe>
</html>
